template(name='css3')
  .page
  h2 CSS3 demo
    small drawing with CSS3
  .col-xs-6.col-sm-4
    .panel.panel-default
      .panel-body
        | draw here
        #draw1
        | draw1
  .col-xs-6.col-sm-4
    .panel.panel-default
      .panel-body
        #draw22
        | draw22
  .col-xs-6.col-sm-4
    .panel.panel-success
      .panel-header
        b Product:
        |  iHealth Edge Watch
      .panel-body
        .shape
          #w1_face
            #w1_strap_t1
            #w1_foot_l
            #w1_foot_r
            h5#disp_steps
              | 16666
            #w1_strap_b1
        br
        |         This example works in Chrome.
  .col-xs-6.col-sm-4
    .panel.panel-default
      .panel-body
        | drawing
        #draw2
        | draw2
  .col-xs-6.col-sm-4
    .panel.panel-default
      .panel-body
        #draw3
        | draw3
  .col-xs-6.col-sm-4
    .panel.panel-default
      .panel-body
        #draw4
        | draw4
  .col-xs-6.col-sm-4
    .panel.panel-default
      .panel-body
        #draw5
        | draw5
  .col-xs-6.col-sm-4
    .panel.panel-default
      .panel-body
        #triangle-down
        | triangle-down
  .col-xs-6.col-sm-4
    .panel.panel-default
      .panel-body
        #heart
        | heart
